{% extends 'base.html.twig' %}

{% block title %}Koninklijke Belgische Voetbalbond
{% endblock %}

{% block body %}


	<h1>Koninklijke Belgische Voetbalbond</h1>


	<div>
		<p>We hebben jouw keuze goed ontvangen. Van zodra het artikel beschikbaar is zullen wij jouw supportersclub hiervan berichten.</p>
		<p>Voor vragen gelieve te mailen naar
			<a href="mailto:1895@footbel.com">1895@footbel.com</a>
		</p>
	</div>


{% endblock %}
