<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
		<style>
			body {
				font-family: Arial, sans-serif;
				margin: 0;
				padding: 0;
				background-color: #f4f4f4;
			}
			.container {
				width: 100%;
				max-width: 800px;
				margin: 50px auto;
				padding: 20px;
				background-color: #fff;
				box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
				border-radius: 8px;
			}
			h1 {
				font-size: 24px;
				margin-bottom: 20px;
				color: #333;
			}
			.form-group {
				margin-bottom: 20px;
			}
			.form-group label {
				display: block;
				margin-bottom: 5px;
				font-weight: bold;
				color: #555;
			}
			.form-control {
				width: 100%;
				padding: 10px;
				font-size: 16px;
				border: 1px solid #ccc;
				border-radius: 4px;
			}
			.radio-buttons {
				display: flex;
				gap: 10px;
				margin-bottom: 10px;
				flex-wrap: wrap;
			}
			.radio-buttons label {
				display: flex;
				align-items: center;
				margin-right: 10px;
			}
			.radio-buttons img {
				margin-left: 10px;
			}
			.btn-primary {
				display: inline-block;
				padding: 10px 20px;
				font-size: 16px;
				color: #fff;
				background-color: #007bff;
				border: none;
				border-radius: 4px;
				cursor: pointer;
				text-decoration: none;
			}
			.btn-primary:hover {
				background-color: #0056b3;
			}
			.alert {
				padding: 10px;
				margin-bottom: 20px;
				border: 1px solid transparent;
				border-radius: 4px;
			}
			.alert-error {
				color: #721c24;
				background-color: #f8d7da;
				border-color: #f5c6cb;
			}
		</style>
		{% block stylesheets %}{% endblock %}
	</head>
	<body>
		<div class="container"> {% block body %}{% endblock %}
			</div>
			{% block javascripts %}
				{% block importmap %}
					{{ importmap('app') }}
				{% endblock %}
			{% endblock %}
		</body>
	</html>
